<div class="dashboard-page">
  <header class="navbar">
    <h1>Project Platform</h1>
    <nav>
      <button class="btn-secondary" (click)="logout()">Log out</button>
    </nav>
  </header>
  <div class="container">
    <h2 *ngIf="authService.currentUser()">
      Welcome, {{ authService.currentUser()?.name }}!
    </h2>
    <p *ngIf="authService.currentUser()">
      Your email: {{ authService.currentUser()?.email }}
    </p>

    <p *ngIf="!authService.currentUser()">Loading user data...</p>

    <div *ngIf="showProjectForm()">
      <app-project-form
        [project]="editingProject()"
        (save)="onProjectFormSave()"
        (cancel)="onProjectFormCancel()"
      ></app-project-form>
    </div>
    <div *ngIf="!showProjectForm()">
      <h3>Your Projects</h3>
      <app-project-list></app-project-list>
    </div>
  </div>
</div>
