@import "variables"; // Import your new variables file here

@mixin shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

@mixin btn-base {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

.btn-primary {
  @include btn-base;
  background-color: $primary; // Use Sass variable
  color: white;
  &:hover {
    background-color: $primary-dark; // Use derived Sass variable
  }
}

.btn-secondary {
  @include btn-base;
  background-color: $background; // Use Sass variable
  color: $text; // Use Sass variable
  border: 1px solid $border; // Use Sass variable
  &:hover {
    background-color: lighten(
      $background,
      5%
    ); // Example of using another Sass function
  }
}

.btn-error {
  @include btn-base;
  background-color: $error; // Use Sass variable
  color: white;
  &:hover {
    background-color: $error-dark; // Use derived Sass variable
  }
}

.btn-small {
  padding: 6px 12px;
  font-size: 0.8rem;
}
